html {
    height: 100%;
}
body {
    background: linear-gradient(#141e30, #243b55);
}

p {
    font-size: 30px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 200px;
}
button {
    background: transparent;
    border: none;
    position: relative;
    top: 250px;

}
a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;

}